.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.side {
    background-color: aqua;
    height: 92vh;
}
.box1 {
    background-color: blue;
    width: 80px;
    height: 20px;
    padding: 20px;
    margin-top: 10%;
    margin-left: 20%;
}
main 